.userpic{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.contactList{
	height: 60vh;
	overflow-y: scroll;
}
.selectContact{
	display: inline;
}

.lstMsg{
	color: rgba(232,232,232,0,7);
}
.UnreadMsg{
    right: 0px;
    position: absolute;
    background-color: rgba(100,130,100,1);
    font-size: 11px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
}

@media only screen and (min-width: 767px) {
    .exitBtn {
      display: none;
    }
  }