.closeUserdetail{
    float: right;
    padding-right: 7%;
    padding-top: 3%;
    background-color: rgba(0,0,0,0.2);
    color: white
}
.userimg{
	height: 200px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover
}
.modal-body{
	padding: 0 !important
}
.userName{
	font-size: 18px;
	line-height: 12px
}