.chatimg{
	height: 55vh !important;
	width: 80% !important;
}
.HeroClass{
	padding-left: 45px;
	padding-right: 45px;
}
.form-control{
	width: 100% !important;
	height: 30px !important;
}

@media only screen and (min-width: 765px) and (max-width: 800px)  {

	.HeroClass{
		padding-left: 60px;
		padding-right: 60px;
	}
	.form-control{
		width: 100% !important;
		height: 30px !important;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 2024px)  {

	.HeroClass{
		padding-left: 150px;
		padding-right: 150px;
	}
	.form-control{
		width: 100% !important;
		height: 30px !important;
	}
}